<p>Please write a new comment</p>
<form method=POST>
  <p>Author: <input name="author" type="text"></p>
  <p>Comment:</p>
  <textarea name="text" class="text" cols="80" rows ="4"></textarea>
  <p></p>
  <input type="submit" value="Submit">
</form>

